{{!< default}}
<div class="container">
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="action" value="upload.image">
		<input type="file" name="image_upload">
		<input type="submit">
	</form>
	{{#if image}}
		<p><img src="{{returnHost}}/images/{{image.image.filename}}" style="width: 200px">: {{returnHost}}/images/{{image.image.filename}}</p>
	{{/if}}
	{{#if user}}
		Your images
		{{#each images}}
			{{#if image.originalname}}
				<p><img src="{{returnHost}}/images/{{image.filename}}" style="width: 200px">: {{returnHost}}/images/{{image.filename}}</p>
			{{/if}}
		{{/each}}
	{{else}}
		<a href="/login">Login</a>
		<a href="/signup">Signup</a>
	{{/if}}
</div>
